.MenuG {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
  }
  
  .menu-container {
    flex: 1;
  }
  
  .user-profile-container {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex: 1;
  }
  
  .user-profile {
    float: right;
    margin-right: 20px; /* ajusta el margen a tu gusto */
    width: 100px; /* ajusta el ancho de la tabla a tu gusto */
  }
  
  .user-profile div {
    margin-bottom: 5px;
  }
  
  .container-fluid {
    padding: 0;
    flex: 1;
  }
  
  .ContadorClics {
    height: 50vh; /* Cambiar la altura del componente al 90% de la altura de la ventana del navegador */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }
  
  .container-mantenedor {
    height: calc(90vh - 100px);
    overflow-y: scroll;
  }
  
  /*De aquí para abajo tiene que ver con sólo la apariencia de los menús...*/
  .sub-menu-item .dropdown-menu {
    margin-left: 99%; /* Ajusta el valor según sea necesario */
    margin-top: -36px; /* Ajusta el valor según sea necesario */
  }
  
  .sub-menu-item {
    margin-left: 8px; 
  }
  
  .dropdown-menu {
    padding: 0px 0px;
    background-color:#212529;
    color: white;
  }
  
  .dropdown-menu a:hover {
    background-color: #888; /* Cambiar aquí al color de gris más oscuro deseado */
    color: #fff; /* Cambiar aquí al color de texto deseado */
  }