body {
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu-item:hover > .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sub-menu-item {
  padding: 10px;
}

.sub-menu-item:hover {
  background-color: #ddd;
}
